<nav class="display-flex">
    <!-- <button>
      <i class="fa-solid fa-circle-info"></i> About
    </button> 
    <button>
      <i class="fa-solid fa-laptop-code"></i> Portfolio
    </button>  -->
    <button (click)="windowService.openGithub()">
      <i class="fa-brands fa-github"></i> Github
    </button> 
    <button (click)="windowService.openLinkedIn()">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </button> 
    <button (click)="windowService.downloadResume()">
      <i class="fa-solid fa-file-arrow-down"></i> Resume
    </button> 
</nav>