// screensizes
$screenSize-mobileMini: 450px;
$screenSize-mobile: 520px;
$screenSize-tablet: 659px;
$screenSize-desktop: 992px;
$screenSize-desktopXL: 1013px;

// fonts
$fontFamilyHeader: Dosis, "Trebuchet MS", sans-serif;
$fontFamilyBody: Dosis, "Trebuchet MS", sans-serif;
