<div class="tile info-tile">
    <div class="info-tile-header display-flex">
      <div class="image-container">
        <img src="../assets/images/headshots/headshot_transparent.png" alt=""> 
      </div>
      <div class="title">
        <h1>Patrick Petro</h1>
        <h2>Front-End Developer</h2>
        <div class="display-flex skills-icons">
          <i class="fa-brands fa-angular"></i>
          <i class="fa-brands fa-js"></i>
          <i class="fa-brands fa-css3"></i>
          <i class="fa-brands fa-bootstrap"></i>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-python"></i>
          <i class="fa-brands fa-git-alt"></i>
          <i class="fa-brands fa-atlassian"></i>
          <i class="fa-brands fa-figma"></i>
        </div>
      </div>
    </div>
    <div class="info-tile-body">
      <p><span class="wave">👋</span> Hello! I'm a front-end developer focused on building fast, clean, and engaging web experiences. I've led projects for major campaigns — including a Superbowl LVII sweepstakes site for Ryan Reynolds' Aviation Gin that hit a 99% user retention rate.</p>
      <p>With a versatile background and strong foundation in Angular, JavaScript, CSS, and Python I specialize in crafting performance-optimizing solutions. Whether it's streamlining your workflows with custom tools, building reusable components to speed up development, or enhancing responsive designs — I've got you covered.</p>
      <p>I thrive on shaping new ideas and bringing them to life. If you're looking for someone who's not just technical but also passionate about problem-solving, <span class="cta-connect-with-me">connect with me using the form below</span>.</p>
      <p>Let's build something awesome!</p>
    </div>
    <div class="info-tile-footer display-flex">
      <button (click)="windowService.openGithub()" class="info-tile-footer-button">
        <i class="fa-brands fa-github"></i>
      </button> 
      <button (click)="windowService.openLinkedIn()" class="info-tile-footer-button">
        <i class="fa-brands fa-linkedin"></i>
      </button> 
      <button (click)="windowService.downloadResume()" class="info-tile-footer-button">
        <i class="fa-solid fa-file-arrow-down"></i>
      </button> 
    </div>
  </div>
